@import "../common";

.nested-components {
	min-width: 100px;
	min-height: 100px;
	@include outline();

	&__active {
		outline: 1px dashed gray;
	}

	&__carousel-toolbar {
		display: flex;
		flex-direction: row;
		gap: 8px;

		& > *:empty {
			display: none;
		}
	}
}

.nested-components__toolbar {
	display: flex;
	flex-direction: row;
	gap: 8px;

	& > * {
		background-color: white;
	}
}
